### I decided to preprocess 3 out of the 6 kaggle dataset. Find below the code and processes

### 1. Kickstarter Dataset Preprocessing

In [2]:
import warnings
warnings.simplefilter("ignore")  #Don't show warning messages

import pandas as pd 
import numpy as np
pd.set_option('display.max_columns', None) #Done to displays all columns when called

KSdata = pd.read_csv("ks-projects-201801.csv")
print(KSdata.shape)
#KSdata.describe() #data statistics

(378661, 15)

In [3]:
KSdata.isnull().sum() # Done to check for missing values.

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [4]:
KSdata.head().transpose() # Transpose is done to show all columns

,0,1,2,3,4
ID,1000002330,1000003930,1000004038,1000007540,1000011046
name,The Songs of Adelaide & Abullah,Greeting From Earth: ZGAC Arts Capsule For ET,Where is Hank?,ToshiCapital Rekordz Needs Help to Complete Album,Community Film Project: The Art of Neighborhoo...
category,Poetry,Narrative Film,Narrative Film,Music,Film & Video
main_category,Publishing,Film & Video,Film & Video,Music,Film & Video
currency,GBP,USD,USD,USD,USD
deadline,2015-10-09,2017-11-01,2013-02-26,2012-04-16,2015-08-29
goal,1000.0,30000.0,45000.0,5000.0,19500.0
launched,2015-08-11 12:12:28,2017-09-02 04:43:57,2013-01-12 00:20:50,2012-03-17 03:24:11,2015-07-04 08:35:03
pledged,0.0,2421.0,220.0,1.0,1283.0
state,failed,failed,failed,failed,canceled
backers,0,15,3,1,14
country,GB,US,US,US,US
usd pledged,0.0,100.0,220.0,1.0,1283.0
usd_pledged_real,0.0,2421.0,220.0,1.0,1283.0
usd_goal_real,1533.95,30000.0,45000.0,5000.0,19500.0

In [5]:
KSdata.drop(KSdata.columns[[0, 1]], axis=1, inplace=True) #dropping ID and name column
KSdata.head().transpose()

,0,1,2,3,4
category,Poetry,Narrative Film,Narrative Film,Music,Film & Video
main_category,Publishing,Film & Video,Film & Video,Music,Film & Video
currency,GBP,USD,USD,USD,USD
deadline,2015-10-09,2017-11-01,2013-02-26,2012-04-16,2015-08-29
goal,1000.0,30000.0,45000.0,5000.0,19500.0
launched,2015-08-11 12:12:28,2017-09-02 04:43:57,2013-01-12 00:20:50,2012-03-17 03:24:11,2015-07-04 08:35:03
pledged,0.0,2421.0,220.0,1.0,1283.0
state,failed,failed,failed,failed,canceled
backers,0,15,3,1,14
country,GB,US,US,US,US
usd pledged,0.0,100.0,220.0,1.0,1283.0
usd_pledged_real,0.0,2421.0,220.0,1.0,1283.0
usd_goal_real,1533.95,30000.0,45000.0,5000.0,19500.0

In [6]:
KSdata['usd pledged'] = KSdata['usd pledged'].fillna(KSdata['usd pledged'].mean()) #since 'usd pledge'is a numerical value, the mean is used to fill all missen values in the column

In [7]:
KSdata.isnull().sum() # Done to check for missing values

category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [8]:
KSdata['state'].unique() #checking the values of state

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [9]:
KSdata = KSdata.drop(KSdata.query("state !='failed' and state !='successful'").index, axis=0).reset_index(drop=True) #paying attention to data with either failed or successful outcome and dropping the rest

In [10]:
KSdata['state'].unique()

array(['failed', 'successful'], dtype=object)

In [11]:
#extracting the year and month from deadline and launched column
KSdata['deadline_year'] = KSdata['deadline'].apply(lambda x: float(x[0:4]))
KSdata['deadline_month'] = KSdata['deadline'].apply(lambda x: float(x[5:7]))

KSdata['launched_year'] = KSdata['launched'].apply(lambda x: float(x[0:4]))
KSdata['launched_month'] = KSdata['launched'].apply(lambda x: float(x[5:7]))

KSdata = KSdata.drop(['deadline', 'launched'], axis=1) #dropping the old columns

In [12]:
KSdata['state'] = KSdata['state'].apply(lambda x: 1 if x == 'successful' else 0) #changing the state column to numerical values

In [13]:
KSdata.head().transpose()

,0,1,2,3,4
category,Poetry,Narrative Film,Narrative Film,Music,Restaurants
main_category,Publishing,Film & Video,Film & Video,Music,Food
currency,GBP,USD,USD,USD,USD
goal,1000.0,30000.0,45000.0,5000.0,50000.0
pledged,0.0,2421.0,220.0,1.0,52375.0
state,0,0,0,0,1
backers,0,15,3,1,224
country,GB,US,US,US,US
usd pledged,0.0,100.0,220.0,1.0,52375.0
usd_pledged_real,0.0,2421.0,220.0,1.0,52375.0
usd_goal_real,1533.95,30000.0,45000.0,5000.0,50000.0
deadline_year,2015.0,2017.0,2013.0,2012.0,2016.0
deadline_month,10.0,11.0,2.0,4.0,4.0
launched_year,2015.0,2017.0,2013.0,2012.0,2016.0
launched_month,8.0,9.0,1.0,3.0,2.0

In [14]:
print(KSdata.apply(lambda col: col.unique())) #checking to know the unique values in each column

category            [Poetry, Narrative Film, Music, Restaurants, F...
main_category       [Publishing, Film & Video, Music, Food, Crafts...
currency            [GBP, USD, CAD, AUD, NOK, EUR, MXN, SEK, NZD, ...
goal                [1000.0, 30000.0, 45000.0, 5000.0, 50000.0, 25...
pledged             [0.0, 2421.0, 220.0, 1.0, 52375.0, 1205.0, 453...
state                                                          [0, 1]
backers             [0, 15, 3, 1, 224, 16, 40, 100, 761, 11, 20, 7...
country             [GB, US, CA, AU, NO, IT, DE, IE, MX, ES, SE, F...
usd pledged         [0.0, 100.0, 220.0, 1.0, 52375.0, 1205.0, 453....
usd_pledged_real    [0.0, 2421.0, 220.0, 1.0, 52375.0, 1205.0, 453...
usd_goal_real       [1533.95, 30000.0, 45000.0, 5000.0, 50000.0, 1...
deadline_year       [2015.0, 2017.0, 2013.0, 2012.0, 2016.0, 2014....
deadline_month      [10.0, 11.0, 2.0, 4.0, 12.0, 3.0, 5.0, 8.0, 6....
launched_year       [2015.0, 2017.0, 2013.0, 2012.0, 2016.0, 2014....
launched_month      [8.0, 9.0, 1.0, 3.0, 2.0, 12.0, 4.0, 10.0, 5.0...
dtype: object

In [15]:
KSdata = pd.concat([KSdata, pd.get_dummies(KSdata["main_category"], prefix = "main_category"), 
                      pd.get_dummies(KSdata["country"], prefix = "country")], axis = 1)

KSdata=KSdata.drop(["main_category", "country", "currency", "category"], axis = 1) #dropping columns

In [16]:
KSdata.head().transpose()

                                  0        1        2       3        4
goal                         1000.0  30000.0  45000.0  5000.0  50000.0
pledged                         0.0   2421.0    220.0     1.0  52375.0
state                             0        0        0       0        1
backers                           0       15        3       1      224
usd pledged                     0.0    100.0    220.0     1.0  52375.0
usd_pledged_real                0.0   2421.0    220.0     1.0  52375.0
usd_goal_real               1533.95  30000.0  45000.0  5000.0  50000.0
deadline_year                2015.0   2017.0   2013.0  2012.0   2016.0
deadline_month                 10.0     11.0      2.0     4.0      4.0
launched_year                2015.0   2017.0   2013.0  2012.0   2016.0
launched_month                  8.0      9.0      1.0     3.0      2.0
main_category_Art             False    False    False   False    False
main_category_Comics          False    False    False   False    False
main_category_Crafts          False    False    False   False    False
main_category_Dance           False    False    False   False    False
main_category_Design          False    False    False   False    False
main_category_Fashion         False    False    False   False    False
main_category_Film & Video    False     True     True   False    False
main_category_Food            False    False    False   False     True
main_category_Games           False    False    False   False    False
main_category_Journalism      False    False    False   False    False
main_category_Music           False    False    False    True    False
main_category_Photography     False    False    False   False    False
main_category_Publishing       True    False    False   False    False
main_category_Technology      False    False    False   False    False
main_category_Theater         False    False    False   False    False
country_AT                    False    False    False   False    False
country_AU                    False    False    False   False    False
country_BE                    False    False    False   False    False
country_CA                    False    False    False   False    False
country_CH                    False    False    False   False    False
country_DE                    False    False    False   False    False
country_DK                    False    False    False   False    False
country_ES                    False    False    False   False    False
country_FR                    False    False    False   False    False
country_GB                     True    False    False   False    False
country_HK                    False    False    False   False    False
country_IE                    False    False    False   False    False
country_IT                    False    False    False   False    False
country_JP                    False    False    False   False    False
country_LU                    False    False    False   False    False
country_MX                    False    False    False   False    False
country_N,0"                  False    False    False   False    False
country_NL                    False    False    False   False    False
country_NO                    False    False    False   False    False
country_NZ                    False    False    False   False    False
country_SE                    False    False    False   False    False
country_SG                    False    False    False   False    False
country_US                    False     True     True    True     True

##### Kickstarter Dataset is ready for classification

### 2. Car Insurance Dataset Preprocessing

In [34]:
cardatatrain=pd.read_csv('carInsurance_Train.csv')
cardatatest=pd.read_csv('carInsurance_Test.csv')

print(cardatatrain.shape)
#cardatatrain.describe() #data statistics

(4000, 19)

In [35]:
print(cardatatest.shape)
#cardatatest.describe() #data statistics

(1000, 19)

In [36]:
cardatatrain.head().transpose() # Transpose is done to show all columns

                           0            1           2         3           4
Id                         1            2           3         4           5
Age                       32           32          29        25          30
Job               management  blue-collar  management   student  management
Marital               single      married      single    single     married
Education           tertiary      primary    tertiary   primary    tertiary
Default                    0            0           0         0           0
Balance                 1218         1156         637       373        2694
HHInsurance                1            1           1         1           0
CarLoan                    0            0           0         0           0
Communication      telephone          NaN    cellular  cellular    cellular
LastContactDay            28           26           3        11           3
LastContactMonth         jan          may         jun       may         jun
NoOfContacts               2            5           1         2           1
DaysPassed                -1           -1         119        -1          -1
PrevAttempts               0            0           1         0           0
Outcome                  NaN          NaN     failure       NaN         NaN
CallStart           13:45:20     14:49:03    16:30:24  12:06:43    14:35:44
CallEnd             13:46:30     14:52:08    16:36:04  12:20:22    14:38:56
CarInsurance               0            0           1         1           0

In [37]:
cardatatrain.isnull().sum() # Done to check for missing values.

Id                     0
Age                    0
Job                   19
Marital                0
Education            169
Default                0
Balance                0
HHInsurance            0
CarLoan                0
Communication        902
LastContactDay         0
LastContactMonth       0
NoOfContacts           0
DaysPassed             0
PrevAttempts           0
Outcome             3042
CallStart              0
CallEnd                0
CarInsurance           0
dtype: int64

In [38]:
cardatatest.isnull().sum() # Done to check for missing values.

Id                     0
Age                    0
Job                    5
Marital                0
Education             47
Default                0
Balance                0
HHInsurance            0
CarLoan                0
Communication        221
LastContactDay         0
LastContactMonth       0
NoOfContacts           0
DaysPassed             0
PrevAttempts           0
Outcome              757
CallStart              0
CallEnd                0
CarInsurance        1000
dtype: int64

In [39]:
cardatatest=cardatatest.drop(["Id", "Outcome"], axis = 1)

In [40]:
cardatatrain=cardatatrain.drop(["Id", "Outcome"], axis = 1)

In [41]:
# filling categorical missing values with column modes
for column in ['Job', 'Education', 'Communication']:
        cardatatrain[column] = cardatatrain[column].fillna(cardatatrain[column].mode()[0])

In [42]:
# filling categorical missing values with column modes
for column in ['Job', 'Education', 'Communication']:
        cardatatest[column] = cardatatest[column].fillna(cardatatest[column].mode()[0])

In [43]:
cardatatest.isnull().sum() # Done to check for missing values.

Age                    0
Job                    0
Marital                0
Education              0
Default                0
Balance                0
HHInsurance            0
CarLoan                0
Communication          0
LastContactDay         0
LastContactMonth       0
NoOfContacts           0
DaysPassed             0
PrevAttempts           0
CallStart              0
CallEnd                0
CarInsurance        1000
dtype: int64

In [128]:
cardatatest =cardatatest.drop(["CarInsurance"], axis = 1)

In [130]:
cardatatest.isnull().sum() # Done to check for missing values.

Age                 0
Job                 0
Marital             0
Education           0
Default             0
Balance             0
HHInsurance         0
CarLoan             0
Communication       0
LastContactDay      0
LastContactMonth    0
NoOfContacts        0
DaysPassed          0
PrevAttempts        0
CallStart           0
CallEnd             0
dtype: int64

In [46]:
cardatatrain.isnull().sum() # Done to check for missing values.

Age                 0
Job                 0
Marital             0
Education           0
Default             0
Balance             0
HHInsurance         0
CarLoan             0
Communication       0
LastContactDay      0
LastContactMonth    0
NoOfContacts        0
DaysPassed          0
PrevAttempts        0
CallStart           0
CallEnd             0
CarInsurance        0
dtype: int64

In [47]:
# Done to know the amount of unique values in all categorical variables
{column: len(cardatatrain[column].unique()) for column in cardatatrain.select_dtypes('object').columns}

{'Job': 11,
 'Marital': 3,
 'Education': 3,
 'Communication': 2,
 'LastContactMonth': 12,
 'CallStart': 3777,
 'CallEnd': 3764}

In [48]:
# Done to know the amount of unique values in all categorical variables
{column: len(cardatatest[column].unique()) for column in cardatatest.select_dtypes('object').columns}

{'Job': 11,
 'Marital': 3,
 'Education': 3,
 'Communication': 2,
 'LastContactMonth': 12,
 'CallStart': 986,
 'CallEnd': 980}

In [49]:
#extracting duration from CallEnd and CallStart times
cardatatrain['CallDuration'] = (pd.to_datetime(cardatatrain['CallEnd']) - pd.to_datetime(cardatatrain['CallStart'])).apply(lambda x: x.seconds)

In [132]:
cardatatest['CallDuration'] = (pd.to_datetime(cardatatest['CallEnd']) - pd.to_datetime(cardatatest['CallStart'])).apply(lambda x: x.seconds)

In [50]:
cardatatrain = cardatatrain.drop(['CallStart', 'CallEnd'], axis=1)

In [134]:
cardatatest = cardatatest.drop(['CallStart', 'CallEnd'], axis=1)

In [51]:
cardatatrain['Communication'] = cardatatrain['Communication'].replace({'telephone': 0, 'cellular': 1}) #replacing values in communication column, changing it to numerical value

In [136]:
cardatatest['Communication'] = cardatatest['Communication'].replace({'telephone': 0, 'cellular': 1}) #replacing values in communication column, changing it to numerical value

In [52]:
#replacing values - changing categorical values it to numerical values
cardatatrain['Education'] = cardatatrain['Education'].replace({'primary': 0, 'secondary': 1, 'tertiary': 2})
cardatatrain['LastContactMonth'] = cardatatrain['LastContactMonth'].replace({'jan': 0, 'feb': 1, 'mar': 2, 'apr': 3, 'may': 4, 'jun': 5, 'jul': 6, 'aug': 7, 'sep': 8, 
                                                                             'oct': 9, 'nov': 10, 'dec': 11})

In [138]:
#replacing values - changing categorical values it to numerical values
cardatatest['Education'] = cardatatest['Education'].replace({'primary': 0, 'secondary': 1, 'tertiary': 2})
cardatatest['LastContactMonth'] = cardatatest['LastContactMonth'].replace({'jan': 0, 'feb': 1, 'mar': 2, 'apr': 3, 'may': 4, 'jun': 5, 'jul': 6, 'aug': 7, 'sep': 8, 
                                                                             'oct': 9, 'nov': 10, 'dec': 11})

In [53]:
cardatatrain = pd.concat([cardatatrain, pd.get_dummies(cardatatrain["Job"], prefix = "Job"), 
                      pd.get_dummies(cardatatrain["Marital"], prefix = "Marital")], axis = 1)

cardatatrain=cardatatrain.drop(["Job", "Marital"], axis = 1)

In [140]:
cardatatest = pd.concat([cardatatest, pd.get_dummies(cardatatest["Job"], prefix = "Job"), 
                      pd.get_dummies(cardatatest["Marital"], prefix = "Marital")], axis = 1)

cardatatest=cardatatest.drop(["Job", "Marital"], axis = 1)

In [153]:
cardatatrain.head(15).transpose() # Transpose is done to show all columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Age,32,32,29,25,30,32,37,35,30,30,27,53,44,38,25
Education,2,0,2,0,2,2,2,2,1,1,1,0,1,1,1
Default,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
Balance,1218,1156,637,373,2694,1625,1000,538,187,3,0,-462,2776,2674,2022
HHInsurance,1,1,1,1,0,0,1,1,1,1,0,0,1,1,0
CarLoan,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Communication,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
LastContactDay,28,26,3,11,3,22,17,12,18,12,1,29,27,19,29
LastContactMonth,0,4,5,4,5,4,2,4,10,4,5,0,0,5,6
NoOfContacts,2,5,1,2,1,1,1,4,1,2,1,1,1,2,8
DaysPassed,-1,-1,119,-1,-1,109,-1,-1,-1,-1,-1,-1,-1,-1,97
PrevAttempts,0,0,1,0,0,1,0,0,0,0,0,0,0,0,12
CarInsurance,0,0,1,1,0,1,1,0,0,0,0,1,1,0,1
CallDuration,70,185,340,819,192,796,195,66,106,326,181,470,701,163,276
Job_admin.,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False
Job_blue-collar,False,True,False,False,False,False,False,False,False,True,False,True,False,False,False
Job_entrepreneur,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Job_housemaid,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Job_management,True,False,True,False,True,False,False,True,False,False,False,False,False,False,False
Job_retired,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Job_self-employed,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
Job_services,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
Job_student,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
Job_technician,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False
Job_unemployed,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Marital_divorced,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False
Marital_married,False,True,False,False,True,False,False,False,True,True,False,True,True,False,False
Marital_single,True,False,True,True,False,True,True,False,False,False,True,False,False,False,True

In [142]:
cardatatest.head().transpose() # Transpose is done to show all columns

                       0      1      2      3      4
Age                   25     40     44     27     53
Education              1      2      2      1      1
Default                0      0      0      0      0
Balance                1      0  -1313   6279   7984
HHInsurance            1      1      1      1      1
CarLoan                1      1      1      0      0
Communication          1      1      1      1      1
LastContactDay        12     24     15      9      2
LastContactMonth       4      6      4     10      1
NoOfContacts          12      1     10      1      1
DaysPassed            -1     -1     -1     -1     -1
PrevAttempts           0      0      0      0      0
CallDuration          24     53    104    257    151
Job_admin.          True  False  False  False  False
Job_blue-collar    False  False  False  False  False
Job_entrepreneur   False  False  False  False  False
Job_housemaid      False  False  False  False  False
Job_management     False   True   True  False  False
Job_retired        False  False  False  False  False
Job_self-employed  False  False  False  False  False
Job_services       False  False  False   True  False
Job_student        False  False  False  False  False
Job_technician     False  False  False  False   True
Job_unemployed     False  False  False  False  False
Marital_divorced   False  False  False  False  False
Marital_married    False   True  False  False   True
Marital_single      True  False   True   True  False

##### Car Insurance Dataset is ready for classification

### 3. Mobile Price Dataset Preprocessing

In [57]:
Mobiledatatrain=pd.read_csv('mobile_price_train.csv')
Mobiledatatest=pd.read_csv('mobile_price_test.csv')

print(Mobiledatatrain.shape)
#Mobiledatatrain.describe() # data statistics

(2000, 21)

In [58]:
print(Mobiledatatest.shape)
#Mobiledatatest.describe() # data statistics

(1000, 21)

In [59]:
Mobiledatatrain.isnull().sum()  # Done to check for missing values in train

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [60]:
Mobiledatatest.isnull().sum() # Done to check for missing values in test

id               0
battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [61]:
Mobiledatatrain.head().transpose() # Transpose is done to show all columns

                    0       1       2       3       4
battery_power   842.0  1021.0   563.0   615.0  1821.0
blue              0.0     1.0     1.0     1.0     1.0
clock_speed       2.2     0.5     0.5     2.5     1.2
dual_sim          0.0     1.0     1.0     0.0     0.0
fc                1.0     0.0     2.0     0.0    13.0
four_g            0.0     1.0     1.0     0.0     1.0
int_memory        7.0    53.0    41.0    10.0    44.0
m_dep             0.6     0.7     0.9     0.8     0.6
mobile_wt       188.0   136.0   145.0   131.0   141.0
n_cores           2.0     3.0     5.0     6.0     2.0
pc                2.0     6.0     6.0     9.0    14.0
px_height        20.0   905.0  1263.0  1216.0  1208.0
px_width        756.0  1988.0  1716.0  1786.0  1212.0
ram            2549.0  2631.0  2603.0  2769.0  1411.0
sc_h              9.0    17.0    11.0    16.0     8.0
sc_w              7.0     3.0     2.0     8.0     2.0
talk_time        19.0     7.0     9.0    11.0    15.0
three_g           0.0     1.0     1.0     1.0     1.0
touch_screen      0.0     1.0     1.0     0.0     1.0
wifi              1.0     0.0     0.0     0.0     0.0
price_range       1.0     2.0     2.0     2.0     1.0

In [62]:
Mobiledatatest.head().transpose() # Transpose is done to show all columns

                    0       1       2       3       4
id                1.0     2.0     3.0     4.0     5.0
battery_power  1043.0   841.0  1807.0  1546.0  1434.0
blue              1.0     1.0     1.0     0.0     0.0
clock_speed       1.8     0.5     2.8     0.5     1.4
dual_sim          1.0     1.0     0.0     1.0     0.0
fc               14.0     4.0     1.0    18.0    11.0
four_g            0.0     1.0     0.0     1.0     1.0
int_memory        5.0    61.0    27.0    25.0    49.0
m_dep             0.1     0.8     0.9     0.5     0.5
mobile_wt       193.0   191.0   186.0    96.0   108.0
n_cores           3.0     5.0     3.0     8.0     6.0
pc               16.0    12.0     4.0    20.0    18.0
px_height       226.0   746.0  1270.0   295.0   749.0
px_width       1412.0   857.0  1366.0  1752.0   810.0
ram            3476.0  3895.0  2396.0  3893.0  1773.0
sc_h             12.0     6.0    17.0    10.0    15.0
sc_w              7.0     0.0    10.0     0.0     8.0
talk_time         2.0     7.0    10.0     7.0     7.0
three_g           0.0     1.0     0.0     1.0     1.0
touch_screen      1.0     0.0     1.0     1.0     0.0
wifi              0.0     0.0     1.0     0.0     1.0

##### The mobile price dataset (test and train ) do not have any missen values and are all numerical values.

In [64]:
Mobiledatatest.drop(Mobiledatatest.columns[[0]], axis=1, inplace=True)    # dropped the ID column
Mobiledatatest.head().transpose()

                    0       1       2       3       4
battery_power  1043.0   841.0  1807.0  1546.0  1434.0
blue              1.0     1.0     1.0     0.0     0.0
clock_speed       1.8     0.5     2.8     0.5     1.4
dual_sim          1.0     1.0     0.0     1.0     0.0
fc               14.0     4.0     1.0    18.0    11.0
four_g            0.0     1.0     0.0     1.0     1.0
int_memory        5.0    61.0    27.0    25.0    49.0
m_dep             0.1     0.8     0.9     0.5     0.5
mobile_wt       193.0   191.0   186.0    96.0   108.0
n_cores           3.0     5.0     3.0     8.0     6.0
pc               16.0    12.0     4.0    20.0    18.0
px_height       226.0   746.0  1270.0   295.0   749.0
px_width       1412.0   857.0  1366.0  1752.0   810.0
ram            3476.0  3895.0  2396.0  3893.0  1773.0
sc_h             12.0     6.0    17.0    10.0    15.0
sc_w              7.0     0.0    10.0     0.0     8.0
talk_time         2.0     7.0    10.0     7.0     7.0
three_g           0.0     1.0     0.0     1.0     1.0
touch_screen      1.0     0.0     1.0     1.0     0.0
wifi              0.0     0.0     1.0     0.0     1.0

##### Mobile price Dataset is ready for classification